<div class="title">
    <div class="btns">
        <button class="btn btn-primary update" type="button">Update Info</button>
        <button class="btn btn-danger delete" type="button">Delete</button>
    </div>
    <h2 class="name"><%- name %></h2>
</div>

<div class="customer-details">
    <div class="info id">User id: <span><%- idAttr %></span></div>
    <div class="info email">Email: <span><%- email %></span></div>
    <div class="info address">Address: <span><%- address %></span></div>
</div>